.nav {
    height: 50px;
    background-color: white;
    float: right;
}
.inline-block {
    display: inline-block;
    padding: 15px;
}
.left {
    height: 500px;
    float: left;
    background-color:white;
    width: 30%;
    margin: 10px;
    }
.right {
    height: 500px;
    float: right;
    background-color: lightgrey;
    width: 70%;
    }
.block_elements {
    float: right;
}
.profile {
    height: 200px;
    width: 200px;
}
.pic1 {
    height: 200px;
    width: 200px;
}